a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
.navbar {
  box-shadow: 0 5px 50px rgba(0, 0, 0, 0.1); /* 調整陰影的大小和顏色 */
}
.navbar-nav {
  position: relative;
}

.text-dark {
  position: relative;
}

.dot {
  position: absolute;
  bottom: 1;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  margin-top: -5px; /* 調整點的上邊距 */
  font-size: 40px; /* 調整點的大小 */
  color: black; /* 調整點的顏色 */
}
